<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="container-fluid root">
  <div class="d-flex flex-row">
    <!-- <as-split [direction]="horizontal" class="splitter">
      <as-split-area size="25">
          <app-map-bar></app-map-bar>
      </as-split-area>
      <as-split-area size="75">
          <app-world-map class="world-map"></app-world-map>
      </as-split-area>
    </as-split> -->
    <div class="w-25">
          <app-map-bar (addStageToWorldMap)="receiveAddStageFromStageList($event)" (sendSaveClickEvent)="receiveSaveClickEvent($event)"
          (loadStagesToWorldMap)="receiveStagesFromStagelist($event)" (loadGraphToWorldMap)="receiveGraphFromStagelist($event)"></app-map-bar>
    </div>
    <div class="hide-overflow flex-fill"#mapDiv>
        <app-world-map [addStage]="addStage" [divElement]="divElement" [divWidth]="divElement.nativeElement.offsetWidth" 
        [divHeight]="divElement.nativeElement.offsetHeight" [topPosition]="divElement.nativeElement.getBoundingClientRect().top" 
        [leftPosition]="divElement.nativeElement.getBoundingClientRect().left" class="world-map"></app-world-map>
    </div>
  </div>

</div>

