<div>
    <div class="world back"
    [ngStyle]="{ 'left': leftPosition, 'top': topPosition,  'z-index': 0 }" #back></div>
    <canvas id="canvas" class="world grid" 
    id='grid'[ngStyle]="{ 'top': topPosition, 'left': leftPosition, 'z-index': 1 }" #grid></canvas>
    <canvas id="canvas" class="world map" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp($event)" 
    id='map' [ngStyle]="{ 'left': leftPosition, 'top': topPosition,  'z-index': 2 }"#map></canvas>
</div>
