<div class="container map-bar split" id="one">
    <div class="container-fluid">
        <div class="row">
            <input class="col button" type="button" (click)="directoryChange()" value="Load">
            <input class="col button" type="button" (click)="_sendSaveClickEvent()" value="Save">      
        </div> 
    </div>
              
    <div class="row h-75 stagelist-container scrollbar">
        <app-stagelist (sendStageToMapPreview)="receiveClickedStageFromStagelist($event)" (addStageToWorldMap)="receiveAddStageFromStageList($event)" 
        (loadGraphToWorldMap)="receiveGraphFromStagelist($event)" (loadStagesToWorldMap)="receiveStagesFromStagelist($event)" class="stagelist"></app-stagelist>
    </div>
    <div class="square-box">
        <app-map-preview [clickedStage]="clickedStage" class="row map-preview square-content" ></app-map-preview>
    </div>
</div>
